out/*
site/*
*.json
!test/*.json
!test/data/*
!test/mock/*
!npm-shrinkwrap.json
test/keys.json
node_modules
coverage/*
old*/*
.idea/
samples/old-code
test/*
samples/*
docs/*
docs-src/*
doc-test/*
mkdocs.yml
.eslintignore
.eslintrc
.travis.yml
API.md
CONTRIBUTING.md
send-coverage.cmd
